<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Payment Info</h4>
</div>

<div class="modal-body">
  <div class="form-group street">
    <%= f.label :shipping_name, "Ship to Name" %>
    <%= f.text_field :shipping_name %>
  </div>
  <div class="form-group street">
    <%= f.label :shipping_street, "Street Address" %>
    <%= f.text_field :shipping_street %>
  </div>
  <div class="form-group city">
    <%= f.label :shipping_city, "City" %>
    <%= f.text_field :shipping_city %>
  </div>
  <div class="row">
    <div class="col col-xs-8">
      <div class="form-group state">
        <%= f.label :shipping_state, "State" %>
        <%= f.text_field :shipping_state %>
      </div>
    </div>
    <div class="col col-xs-4">
      <div class="form-group zip">
        <%= f.label :shipping_zip, "Zip Code" %>
        <%= f.text_field :shipping_zip %>
      </div>
    </div>
  </div>
  <div class="form-group country">
    <%= f.label :shipping_country, 'Country' %>
    <%= f.text_field :shipping_country %>
  </div>
</div>

<div class="modal-footer">
  <a type="button" class="btn btn-default prev">Back</a>
  <a class="btn btn-primary next">Send them Here</a>
</div>
