<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Where Should We Send Them?</h4>
</div>

<div class="modal-body step2">
  <div class="form-group street">
    <%= f.label :shipping_name, "Ship to Name" %>
    <label class="error">Required</label>
    <%= f.text_field :shipping_name, 'ng-model' => 'order.shipping_name', :required => true %>
  </div>
  <div class="form-group street">
    <%= f.label :shipping_street, "Street Address" %>
    <label class="error">Required</label>
    <%= f.text_field :shipping_street, 'ng-model' => 'order.shipping_street', :required => true %>
  </div>
  <div class="form-group city">
    <%= f.label :shipping_city, "City" %>
    <label class="error">Required</label>
    <%= f.text_field :shipping_city, 'ng-model' => 'order.shipping_city', :required => true %>
  </div>
  <div class="row">
    <div class="col col-xs-7">
      <div class="form-group state">
        <%= f.label :shipping_state, "State" %>
        <label class="error">Required</label>
        <%= f.text_field :shipping_state, 'ng-model' => 'order.shipping_state', :required => true %>
      </div>
    </div>
    <div class="col col-xs-5">
      <div class="form-group zip">
        <%= f.label :shipping_zip, "Zip Code" %>
        <label class="error">Required</label>
        <%= f.text_field :shipping_zip, 'ng-model' => 'order.shipping_zip', :required => true %>
      </div>
    </div>
  </div>
  <div class="form-group country">
    <%= f.label :shipping_country, 'Country' %>
    <label class="error">Required</label>
    <%= f.text_field :shipping_country, 'ng-model' => 'order.shipping_country', :required => true %>
  </div>
</div>

<div class="modal-footer">
  <div class="total-price">
    <label>Total Price</label>
    <h2>${{ totalPrice() | number:2 }}</h2>
  </div>
  <a type="button" class="btn btn-default prev">Back</a>
  <a class="btn btn-primary next">Send them Here</a>
</div>
