<header>
  <div class="cloud-panel">
    <%= raw clouds %>
  </div>
  <div class="mountains"></div>
</header>
<div class="fluid-container main">
  <div class="row">
    <div class="col col-xs-12 col-sm-6">
      <div class="product row">
        <div class="col col-xs-12 col-sm-6 col-sm-push-6">
          <%= image_tag "penguin-1-big.png", id: 'penguin' %>
          <a href="#" class="btn btn-primary btn-lg" id="buy-now" data-toggle="modal" data-target="#orderModal">Buy Now</a>
        </div>

        <div class="col col-xs-12 col-sm-6 col-sm-pull-6">
          <div class="cta">
            <p>Fold-Out Penguin Joice Box</p>
            <p>100% Fruit Juice.</p>
            <p>For the coolest kids in the lunch room.</p>
            <%= image_tag 'penguin-3-colors.png', id:'colors' %>
            <div class="buy">
              <p>4 colors to choose from!</p>
              <h2>$<%= Order::PRICE %> each</h2>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col col-xs-12 col-sm-6">
      <h1>Look Who Just Got Theirs</h1>
      <ul class='egg-holder'>
        <%= render partial: 'order', collection: @recent_orders %>
      </ul>
    </div>
  </div>
</div>
<footer>
</footer>
<%= render :partial => 'order_modal' %>
<script>
  var price = <%= Order::PRICE %>;
</script>
<%= render :partial => 'ng_order' %>
